.workpage_title{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}
.slider{
    position: relative;
    height: 100%;
    padding-top: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.image{
    position: relative;
    width: 580px;
    height: 300px;
    border-radius: 10px;
}
.right-arrow{
    position: absolute;
    top: 50%;
    right: 100px;
    font-size: 3rem;
    color: rgb(255, 241, 215);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}
.left-arrow{
    position: absolute;
    top: 50%;
    left: 100px;
    font-size: 3rem;
    color: rgb(255, 241, 215);
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide{
    border-radius: 11px;
    padding-top: 10px;
    opacity: 0;
    transition-duration: 1s ease;
    display: flex;
    flex-direction: column;
    user-select: none;

}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.image_info{
    padding: 20px 10px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_info_title{
    
    font-size: 18px;
    font-style: italic;
    letter-spacing: 2px;
}
.image_info_links{

    letter-spacing: 2px;
    font-size: 12px;
}
.image_info_links_item{
    font-size: 20px;
}
.image_info_links_item:hover{
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1.150);
}
.image_info_links_item:active{
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(0.950);
}
.left-arrow:hover , .right-arrow:hover{
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(.950);
}
.left-arrow:active , .right-arrow:active{
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(.850);
}