.content{
    padding-top: 35px;
    padding-bottom: 50px;
}
.title{
    font-size: 115px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtitle{
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.subtitle article{
    font-weight: 500;
    font-size: 14px;
    color: rgb(151, 151, 151);
    width: 440px;
}